@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f6f9;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin-slow 0.9s linear infinite;
}
